<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pwmanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PWManager">
        <activity
            android:name=".ui.login.MasterChangeComplete"
            android:exported="false" />
        <activity
            android:name=".ui.login.MasterChange"
            android:exported="false" />
        <activity
            android:name=".ui.login.MasterChangeCheck"
            android:exported="false" />
        <activity android:name=".ui.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.login.FirstMasterCreateActivity" />
        <activity android:name=".ui.login.FirstLoginActivity" />
        <activity android:name=".ui.login.AuthLoginActivity" />
        <activity android:name=".ui.setting.SettingMasterActivity" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity android:name=".ui.setting.SettingThemeActivity" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <receiver android:name=".ui.add.AlarmReceiver">
        </receiver>

        <service android:name=".ForcedTerminationService"
            android:stopWithTask="false"/>

    </application>

    <!-- 생체 인증 권한 -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

</manifest>